-# frozen_string_literal: true
= simple_form_for(@person) do |p|
  = p.error_notification
  = p.error_notification message: p.object.errors[:base].to_sentence if p.object.errors[:base].present?

  .form-inputs
    = p.input :name
    = p.input :profession

  %h3 Kids
  .form-inline
    = p.simple_fields_for :kids, :html => {:class => 'form-inline' } do |k|
      = k.input :name
      = k.input :nick
      = k.input :year

  .form-actions
    = p.button :submit
