%h1 Listing examples

%table
  %thead
    %tr
      %th Verb
      %th De
      %th En
      %th Ru
      %th
      %th
      %th

  %tbody
    - @examples.each do |example|
      %tr
        %td= example.verb
        %td= example.de
        %td= example.en
        %td= example.ru
        %td= link_to 'Show', example
        %td= link_to 'Edit', edit_example_path(example)
        %td= link_to 'Destroy', example, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Example', new_example_path
