%p#notice= notice

%p
  %b Verb:
  = @example.verb
%p
  %b De:
  = @example.de
%p
  %b En:
  = @example.en
%p
  %b Ru:
  = @example.ru

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path
