-# frozen_string_literal: true
= simple_form_for(@verb, class: "form-inline") do |f|
  /= f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  - flash.each do |message_type, message|
    .alert.alert-success= message

  .row
    .form-group.col-md-2
      = f.association :group, label: false, collection: Group.all.map {|g| [g.de, g.id]}, include_blank: false
    .form-group.col-md-2
      /= f.association :rule,  label: false, collection: Rule.pluck(:scheme), include_blank: false   # Not working properly??   
      = f.association :rule,  label: false, collection: Rule.all.map {|r| [r.scheme, r.id]}, include_blank: false

  .row
    .form-group.col-md-3
      = f.input :infinitive, label: false, placeholder: 'Infinitiv'
    .form-group.col-md-3
      = f.input :prasens,    label: false, placeholder: 'Pr채sens '
    .form-group.col-md-3
      = f.input :simple,     label: false, placeholder: 'Pr채teritum'
    .form-group.col-md-3
      = f.input :participle, label: false, placeholder: 'Partizip II '

  .row
    .form-group.col-md-3
      = f.input :trxn,      label: false, placeholder: 'Transkription '
    .form-group.col-md-3
      = f.input :ru,        label: false, placeholder: 'Ru'
    .form-group.col-md-3
      = f.input :en,        label: false, placeholder: 'En'
    .form-group.col-md-2
      = f.input :aux,       label: false

  %h4 Verbformen
  %table.table
    %tbody.fields

      = f.simple_fields_for :conjugations do |c|
        %tr
          %td= c.input :personal_pronoun, label: false
          %td= c.input :present_simple,   label: false, placeholder: 'Pr채sens'
          %td= c.input :past_simple,      label: false, placeholder: 'Pr채teritum'
          %td= c.input :present_perfect,  label: false, placeholder: 'Perfekt'
         
  %h4 Beispiele
  %table.table
    %tbody.fields
      = f.simple_fields_for :examples do |example|
        = render 'example', f: example

  .form-actions
    %button.btn.btn-primary{:type => "submit"}
      %i.fa.fa-save
        Schaffen
    = link_to verbs_path, class: "btn btn-info" do 
      = fa_icon "list"
      = "Liste"
