%h1 Listing verbs

%table
  %thead
    %tr
      %th Infinitive
      %th Simple
      %th Participle
      %th Ru
      %th En
      %th Aux
      %th Kind
      %th Irregular
      %th Modal
      %th
      %th
      %th

  %tbody
    - @verbs.each do |verb|
      %tr
        %td= verb.infinitive
        %td= verb.simple
        %td= verb.participle
        %td= verb.ru
        %td= verb.en
        %td= verb.aux
        %td= verb.kind
        %td= verb.irregular
        %td= verb.modal
        %td= link_to 'Show', verb
        %td= link_to 'Edit', edit_verb_path(verb)
        %td= link_to 'Destroy', verb, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Verb', new_verb_path
