.row
  .col-md-8
    %h1 Verben auflisten
  .col-md-2
    = link_to new_verb_path, class: "btn btn-info" do
      = fa_icon "plus-square 1x"
      = "Neu"
 
= search_form_for @q do |f|
  = f.search_field :infinitive_or_en_or_ru_cont
  = f.submit 'suchen'
 
= display_verbs_table(                                          |
  [                                                             |
    { :name => 'infinitive', :display_name => 'Infinitiv' },    |
    { :name => 'prasens',    :display_name => 'Präsens' },      |
    { :name => 'simple',     :display_name => 'Präteritum' },   |
    { :name => 'participle', :display_name => 'Partizip II' },  |
    { :name => 'ru',         :display_name => 'Russisch' },     |
    { :name => 'en',         :display_name => 'Englisсh' },     |
  ],                                                            |
  @verbs)                                                       |
.col-md-2
  = link_to new_verb_path, class: "btn btn-info" do
    = fa_icon "plus-square 1x"
    = "Neu"
