%h1.title
  = "#{@verb.infinitive}"
  = "[#{@verb.trxn}]" if @verb.trxn.present?
%table.table.table-hover.table-bordered
  %thead.thead-dark
    %th= 'Präsens'
    %th= 'Präteritum'
    %th= 'Partizip II'
    %th= 'Gruppe'
    %th= 'Russisch'
    %th= 'Englisсh'
  %tbody.personalpronoun
    %td= @verb.prasens
    %td= @verb.simple
    %td= "#{@verb.aux} #{@verb.participle}"
    %td= @verb.group.de
    %td= @verb.ru
    %td= @verb.en

- if @verb.conjugations.present?
  %h4.italic Konjugationen
  %table.table.table-hover.table-bordered
    %thead.thead-dark
      %th= 'Personal Pronoun'
      %th= 'Präsens'
      %th= 'Präteritum'
      %th= 'Perfekt'

    - @verb.conjugations.each do |conjugation|
      %tbody.table-striped
        %td.font-weight-bold= conjugation.personal_pronoun
        %td= conjugation.present_simple
        %td= conjugation.past_simple
        %td= conjugation.present_perfect

- if @verb.examples.present?
  %h4.italic Beispiele
  %table.table.table-hover.table-bordered
    - @verb.examples.each do |example|
      %tbody
        %td.font-weight-bold= example.de
        %td= example.ru
        %td= example.en

.row
  .col-md-2
    = link_to edit_verb_path, class: "btn btn-info" do 
      = fa_icon "edit"
      = "Bearbeiten"
  .col-md-2
    = link_to verbs_path, class: "btn btn-info" do 
      = fa_icon "list"
      = "Liste"
