%p#notice= notice

%p
  %b Infinitive:
  = @verb.infinitive
%p
  %b Simple:
  = @verb.simple
%p
  %b Participle:
  = @verb.participle
%p
  %b Ru:
  = @verb.ru
%p
  %b En:
  = @verb.en
%p
  %b Aux:
  = @verb.aux
%p
  %b Strong:
  = @verb.strong
%p
  %b Irregular:
  = @verb.regular
%p
  %b Modal:
  = @verb.modal

= link_to 'Edit', edit_verb_path(@verb)
\|
= link_to 'Back', verbs_path
